/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #eba5a5, #94e6e6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #0a0a0a; /* warna teks */
}




.app {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-header {
  margin-bottom: 10px;
}

.to-do-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-do-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  margin-right: 10px;
}

.to-do-input button {
  padding: 10px 20px;
  border: none;
  background-color: #cc74e7;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
}

.to-do-input button:hover {
  background-color: #d7afe4;
}

.to-do-list {
  margin-top: 20px;
}

.item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.item.completed {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.input-controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-controller textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 18px;
}

.edit-controller {
  display: flex;
}

.edit-controller i {
  margin-left: 10px;
  cursor: pointer;
  color: #f700ff;
}

.update-controller {
  margin-top: 10px;
}

.update-controller textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 14px;
}

.update-controller button {
  padding: 8px 16px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.update-controller button:hover {
  background-color: #0056b3;
}

/* Menandai teks di dalam textarea yang telah selesai */
.item.completed textarea {
  text-decoration: line-through;
  color: #888; /* warna teks abu-abu */
  background-color: #f0f0f0; /* latar belakang abu-abu */
  border-color: #f0f0f0; /* border abu-abu */
  cursor: not-allowed; /* kursor tidak diizinkan */
}

/* Stilisasi untuk textarea yang tidak diaktifkan */
textarea[disabled] {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #888;

}

